/* Your CSS styles go here */
/* Add any common styles you want to apply to all pages */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navigation {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}
.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation ul li {
    display: inline;
    margin-right: 15px;
}
.home-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}


.navigation ul li a {
    text-decoration: none;
    color: #fff;
}

.content {
    padding: 20px;
}
