body {
    font-family: Arial, sans-serif;
    background-image: url("BG.jpg");
  background-color: #cccccc;
    margin: 30px;
    padding: 0;
  }
  header {
    background-color: #1e059a;
    padding: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 100px;
  }
 
  h1 {
    color: #007bff;
    margin-bottom: 150px;
    text-align: center;
  }
  

  h2 {
    font-size: 30px;
    background-color: #50d090;
    padding: 40px;
    text-align: center;
    color: #000000;
    display:inline-block;
    align-items: center;
    margin: 50px;
  }
div
{
    background-color: #030006;
    text-align: center;
    
}
.DIV2
{
  background-color: #b1dc07;
  text-align: center;
  display: block;
}
.center
{
  background-color: #c4c8b5;
  text-align: center;
}

.youtube
{
  background-color: #25d7d5;
  text-align: right;
}
.ball
{
  width:auto;
  height:auto;
}